version: '0.1'
database:
  dsn: '/PATH/TO/SQLITE?parseTime=true'
  db: 'sqlite'
  outPath: './gen'
  modelPkgName: 'gen'
  onlyModel: true
  fieldNullable: true
  fieldWithIndexTag: true
  fieldWithTypeTag: true
  withUnitTest: false
  fieldSignable: false
  fieldCoverable: false

model:
  gormModel: true
